# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
test/cache/

# Environments
.venv_*/
.DS_Store
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Paper collection and miscs directory.
paper/
miscs/