# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.egg-info/
build/

# Unit test / coverage reports
.pytest_cache/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Code Environments
.venv_*/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# External libraries.
external/

# Output files.
outputs/

# Documentation files.
*.pptx
report/main.pdf
!/report/images/
