# CMake files and python egg files.
*.egg-info
cmake-build-debug/
build/

# Unit test / coverage reports
test/cache/
test/graphs/

# Environments
.venv_*/
.DS_Store
.idea/

# Output files.
outputs/

# Jupyter Notebook
.ipynb_checkpoints
