numpy==1.16.4
pytest
scipy==1.10.0
torch==1.2.0
pandas==0.25.1

jupyter  # visuatlization
matplotlib  # visualization
seaborn  # visualization
sphinx  # documentation
tqdm  # notebook progress

Cython  # IPOPT dependency
codecov  # code coverage